﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: Georgia, Times, "Times New Roman", serif
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


footer {
    font-size: 16px;
}

code {
    white-space: pre;
    font-size: 16px;
}

#tricky-concept, #my-code {
    margin-bottom:30px;
}

#tricky-concept, #my-code, #some-code, #useful-list {
    overflow: hidden;
}

#useful-list h3 {
    margin-top:0;
}

a:hover {
    text-decoration: none;
    color: aqua;
}


#useful-list ul {
    font-size:16px;
    padding: 0;
}
#useful-list li {
    list-style: none;
    padding: 5px;
}

.home-page-container {
    margin: 100px 0;
    text-align: center;
}

.home-page-block {
    margin: 10px;
    padding: 40px 40px;
    border-radius: 10px;
    background-color: lightgray;
}

.home-page-block:hover {
    color: #fff;
}
